*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    grid-area: header;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*FLEXBOX BARRA LATERAL*/
.asideBar{
    grid-area: asideBar;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}

/*GRID PRODUCTOS*/
.main{
    grid-area: main;
    background-color: lightgray;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}
.footer{
    grid-area: footer;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*GRID LAYOUT*/
.grid-container{
    display: grid;
    grid-template-columns: 200px 100%;
    grid-template-rows: 40px auto 40px;
    grid-template-areas: 
    'header header'
    'asideBar main'
    'footer footer';
    height: 97vh;

}

/*ASIDE*/
.titulo{
    font-size: 1.5rem;
    padding: 10px 15px;
    font-weight: bold; 
}

.line{
    display: flex;
    font-size: 1rem;
    padding: 10px 15px;
}
.cantidad{
    color: grey;
}


/*FLEXBOX TARJETAS DE PRODUCTO*/
.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px;
    justify-items: center; 
    width: 250px;
    height: 300px;
}
.cardImagen{
    display: flex;
    justify-content: center;
}
.cardImagen img{
    height: 200px;
    padding-bottom: 5px;
}

.cardNombre{
    text-align: center;
    font-size: 18px;
    font-weight: bold;  
    
}

.cardPrecio{
    text-align: center;
    font-size: 12px;
    padding: 10px;
    flex-grow: 1; 

}
.card button{
    width: 100%;
    border: 0;
    background-color: blue;
    color: white;
    padding: 5px;
}
